*{
    margin: 0;
    padding: 0;
    zoom: 0.98;
    text-decoration: none;
}
body{
    background-color: rgb(13, 13, 14);
    color: #5d53b3;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 150px;
    padding-inline: 60px;
    padding-block: 8px;
    margin-top: 8px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.lista-celular{
    display: none;
}

.caixa-search{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fffefe;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    position: absolute;
    margin-left: 180px;
}

.caixa-search:hover > .caixa-texto {
    width: 300px;
    padding: 0 3px;
}

.caixa-search:hover > .botao-search {
    background-color: #5d53b3;
    margin-left: 3px;
}

.botao-search {
    color: #e9e9e9;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.caixa-texto {
    border: none;
    background-color: #ffffff;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}

.paginas-menu {
    margin-left: 555px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: flex-start;
   }

.paginas-menu-celular {
    display: none;
}

.carrinho {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    justify-content: flex-start;
}
.lista-elemento-link{
    text-decoration: none;
    color: rgb(243, 239, 239);
    font-weight: 500;
    font-size: 23px;
}
.lista-elemento-link:hover{
    color:#5d53b3
}

.lista-elemento-link:hover, .paginaAtual{
    color:#5d53b3
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.form-container {
    flex: 1;
    margin-right: 20px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.form-container h2{
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    color: #5d53b3;
    margin-bottom: 20px;
}

.form-container .mb-3{
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(243, 239, 239);
    font-weight: 500;
    font-size: 23px;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column; 
}

.form-container .mb-3 input{
    width: 298px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #d0d5da;
}

.form-container .btn-primary {
    background-color: #5d53b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    justify-content: right;
    align-items: right;
    margin-top: 20px;     
}

.form-container .btn-secondary {
    background-color: #5d53b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    justify-content: right;
    align-items: right;
    margin-top: 20px;     
}

.form-container .form-check{
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    justify-content: right;
    align-items: right;
}

.form-check .form-check-label{
    color: #fff;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}


.fotoLateral {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoLateral img {
    width: 700px;
    height: auto;
    border-radius: 5%;
}